*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(104, 59, 59);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-board{
    width: 90vmin;
    height: 90vmin;
    outline: 2px solid #eee;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.cell{
    display: inline-block;
    outline: 1px solid #eee;
}